.flat-button {
  color: aqua;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid aqua;
  margin-top: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
  transform: skewX(-10deg);
  border-radius: 0 15px 0 15px;
  transition: all 0.3s linear;
  background: transparent;

  &:hover {
    background: #cc6c06;
    color: #111010;
  }
}
